<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847224397605-d78e771i1m2opcnmc1pc4vg1a2hkesc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847224397605-d78e771i1m2opcnmc1pc4vg1a2hkesc5</string>
	<key>API_KEY</key>
	<string>AIzaSyByOQLz6RIRc8obEIjZlTeRrvt3w9hXwL4</string>
	<key>GCM_SENDER_ID</key>
	<string>847224397605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makaty</string>
	<key>PROJECT_ID</key>
	<string>makaty-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>makaty-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847224397605:ios:c0034c81d2631fe44084cc</string>
</dict>
</plist>